* {
   margin: 0;
   padding: 0;
   border-radius: 0;
   font-family: sans-serif;
}

body {
   background: linear-gradient(#ffffff, #44ab23);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   display: flex;
   flex-direction: column;
}

.wrapper {
   margin-top: 20px;
}

.h1, h2, h3 {
   color: #34761e;
}

header {
   width: 90%;
   display: flex;
   margin: 10px auto 5px auto;
   flex-wrap: wrap;
   justify-content: space-between;
}

.logo_panel {
   display: flex;
   gap: 0.5rem;
}

.logo {
   width: 100px;
   height: 100px;
   background-image: url(./img/logo2.png);
   background-position: center;
   background-size: cover;
   animation-duration: 6s;
   animation-name: slidein;
   animation-iteration-count: infinite;
   cursor: pointer;
 }

 @keyframes slidein {
   from {
      transform: rotateY(180deg);
   }
 
   to {
      transform: rotateY(360deg);
   }
 }

 .logo_text {
   font-size: 30px;
   font-family: sans-serif;
   line-height: 40px;
   font-weight: bold;
   margin: 5px 10px; 
   background: linear-gradient(45deg, #4a974a 15%, #1dcf1d 30%, #3a8f3a);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }

.menu {
   width: 90%;
   display: flex;
   justify-content: space-around;
   margin: auto;
   /* flex-wrap: wrap; */
}

.btn_header {
   width: 100%;
   height: 50px;
   background: #5eab6026;
   border: none;
   border-radius: 7px;
   padding: 10px;
   color: #34761e;
   font-weight: bold;
   font-size: 1rem;
   line-height: 18px;
   /* font-weight: bold; */
   cursor: pointer;
   margin: 5px;
   box-shadow: 0 0 10px 0px black;
}

.btn_header:hover {
   transition: 200ms;
   box-shadow: 0 0 3px black;
}

.btn_header:active {
   box-shadow: none;
}

.btnActiv {
   background: #44ab23;
   box-shadow: none;
   color: white;
}

/* Слайдер......................................................... */
.greating_block {
   width: 90%;
   border-radius: 20px;
   margin: 10px auto;
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
}

img {
   border-radius: 20px;
   cursor: pointer;
   pointer-events: none
}

.news_block {
   width: auto;
   height: auto;
   border-radius: 15px;
   background-color: #cee7cb94;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 40px;
   margin: auto 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   box-shadow: 0 0 10px black;
}

.news_post {
   margin-top: 20px;
   color: #34761e;
   /* font-weight: bold; */
   font-size: 1rem;
}

.heading_post {
   margin: 5px;
   color: #34761e;
   font-size: 1rem;
}

/* Слайдер......................................................... */

.pharmacy_adress_block {
   width: 90%;
   margin: auto;
   opacity: 0;
}

.info_panel {
   width: 100%;
   height: auto;
   background-color: #cee7cb;
   border-radius: 10px;
   display: grid;
   grid-template-columns: 100%;
   overflow:hidden;
   margin-top: 100px;
   cursor: pointer;
   opacity: 0;
   transition: margin-top 2s, opacity 1s;
   box-shadow: 0 0 10px 0px black
}

.info_panel:hover {
   transition: 200ms;
   box-shadow: 0 0 3px black;
}

.info_panel:active {
   box-shadow: none;
}

.info_panel__mod1 {
   height: 500px;
   grid-template-columns: 50% 50%;
}

/*Форма для обратной связи.........................................................................*/
.feedback {
   width: 80%;
   padding: 0 20px 30px 20px;
   background-color: #cee7cb;
   border-radius: 10px;
   margin: 60px auto;
   box-shadow: 0 0 10px 0px black;
   display: none;
   opacity: 0;
}

#feedback-page{
	text-align:center;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
   font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
   border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #44ab23;
	color: #44ab23;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#44ab23;
	border:#44ab23 solid 3px;
}
/*Форма для обратной связи.........................................................................*/

/*Панель вакансий.........................................................................*/
.job_openings {
   width: 80%;
   padding: 20px 20px 30px 20px;
   background-color: #cee7cb;
   border-radius: 10px;
   margin: 60px auto;
   box-shadow: 0 0 10px 0px black;
   display: none;
   opacity: 0;
}
/*Панель длкументации.........................................................................*/
.documentation {
   width: 80%;
   padding: 20px 20px 30px 20px;
   background-color: #cee7cb;
   border-radius: 10px;
   margin: 60px auto;
   box-shadow: 0 0 10px 0px black;
   display: none;
   opacity: 0;
}
/*Панель истории.........................................................................*/
.biography {
   width: 80%;
   padding: 20px 20px 30px 20px;
   background-color: #cee7cb;
   border-radius: 10px;
   margin: 60px auto;
   box-shadow: 0 0 10px 0px black;
   display: none;
   opacity: 0;
}

.smooth {
   opacity: 1;
   margin-top: 20px;
   transition: margin-top 1s, opacity 1s;
}

.adress {
   margin: 10px;
}

.adress_panel {
   width: 550px;
   height: auto;
   font-size: 16px;
   overflow: hidden;
   text-align: right;
   font-weight: bold;
   color: #3a8f3a;
   cursor: pointer;
}

.hidden {
   display: none;
}

.visible {
   display: block;
}
.visible-flex {
   display: flex;
   flex-direction: column;
}

.novisible {
   display: none;
}

.btn_header__menu {
   display: none;
}

/* Icons ---------------------------------- */
#name{
	background-image: url('./img/logo2.png');
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url('./img/logo2.png');
	background-size: 30px 30px;
	background-position: 8px 5px;
   background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url('./img/logo2.png');
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url('./img/logo2.png');
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url('./img/logo2.png');
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}
.feedback-subject-line {
   height: 55px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-send{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #44ab23;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-send:hover{
	background-color: rgba(0,0,0,0);
	color: #44ab23;
}
	
.submit:hover {
	color: #44ab23;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}


.zero {
   height: 100px;
   /* margin-top: 30px; */
}

.footer {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 2rem;
   background: linear-gradient(#4fb130, #1e6a06);
   color: white;
   font-weight: 500;
   font-size: 1rem;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
   z-index: 1;
}

/* Валидация формы */
input:invalid {
   background-color: rgba(226, 194, 9, 0.342);
 }

 /* input:valid {
   border: 6px solid #44ab23;
 } */

/*Форма для обратной связи.........................................................................*/
@media screen and (min-width: 3000px) {
   .news_post {
      font-size: 1rem;
   }

   .heading_post {
      font-size: 1rem;
   }
}
@media screen and (min-width: 1530px) {
   .news_post {
      font-size: 1rem;
   }
}
@media screen and (max-width: 1250px) {

   .menu {
      flex-wrap: wrap;
   }

   .btn_header {
      display: none;
      opacity: 0;
   }

   .btn_margin{
      margin-bottom: -30px;
   }

   .visible {
      display: block;
   }

   .smooth_menu {
      opacity: 1;
      margin-bottom: 5px;
      transition: margin-bottom 1s, opacity 2s;
   }

   .btn_header__menu {
      display: block;
      opacity: 1;
   }
}

@media screen and (max-width: 1057px) {
   .adress_panel {
      width: 100%;
      text-align: center;
   }
   header {
      justify-content: center;
  }
}
@media screen and (max-width: 650px) {
   .btn_header {
      margin-top: 5px;
      padding: 5px;
      box-shadow: 0 0 10px 0px black;
      height: 30px;
      min-width: 230px;
   }
   .logo {
      width: 70px;
      height: 70px;
   }
  .logo_text {
   font-size: 18px;
   line-height: 30px;
   }
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

@media screen and (max-width: 420px) {
   .logo_text {
      font-size: 20px;
      line-height: 20px;
      text-align: center;
   }

    header {
      justify-content: center;
   }

    .btn_header {
      font-size: 12px;
      margin-top: 5px;
      padding: 5px;
      box-shadow: 0 0 10px 0px black;
      height: 30px;
      min-width: 230px;
   }

   .info_panel {
      grid-template-columns: none;
   }

   .info_panel__mod1 {
      height: 300px;
   }   

   .adress {
      font-size: 10px;
   }

   .pharmacy_adress_block {
      margin: 5px auto;
   }

   .smooth {
      opacity: 1;
      margin-top: 5px;
   }

   .btn_header:hover {
      box-shadow: 0 0 3px black;
  }

  .btn_header:active {
   transition: 200ms;
   box-shadow: none;
   }

   .logo {
      width: 50px;
      height: 50px;
   }
   .logo_text {
      font-size: 14px;
   }

   .news_post {
      font-size: 0.7rem;
   }
   
   .heading_post {

      font-size: 0.7rem;
   }

}

@media screen and (max-width: 360px) {

   .btn_header {
      font-size: 10px;
      padding: 5px;
      box-shadow: 0 0 10px 0px black;
      height: 20px;
      min-width: 230px;
      line-height: 10px;
   }

   .news_post {
      font-size: 0.6rem;
   }
   
   .heading_post {

      font-size: 0.6rem;
   }
}